<div class="modal fade" id="editRole" tabindex="-1" role="dialog" aria-labelledby="editRole" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title" id="exampleModalLabel">Chỉnh sửa thông tin quyền</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form *ngIf="formEdit" [formGroup]="formEdit">

          <div class="form-group">
            <label for="exampleInputName">Tên</label>
            <input type="text" class="form-control" id="exampleInputName" formControlName="name"
                   placeholder="Nhập tên">
          </div>

        </form>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Huỷ</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="editRole()">Lưu</button>
      </div>
    </div>
  </div>
</div>
